:root {
    --gray-500: #a0a0a0; /* Cor usada no começo do degradê dos h1 */
    --gray-300: #c8c8c8; 
    --gray-100: #e5e5e5; /* Cor usada no final do degradê dos h1 */
    --gray-600: #6f6f6f; /* Cor da linha vertical */
    --gray-900: #333333; /* Cor dos principais textos */
    --gray-1100: #141414;
    --black: #000;
    /* A cor --white já está no bootstrap */
     /* Cores usadas na parte de Habilidades (podem ser trocadas)*/
    --soft-red: #ff5050;
    --soft-yellow: #b1be61;
    --soft-green: #719d71; 
    --main-bg-color: red;
}

.darkMode{
    /* aternar as cores das variaveis */
    --gray-500: #cfcfcf; /* Cor usada no começo do degradê dos h1  #494949;*/
    --gray-300: #484848; 
    --gray-100: #414141; /* Cor usada no final do degradê dos h1 */
    --gray-600: #464646; /* Cor da linha vertical */
    --gray-900: #333333; /* Cor dos principais textos */
    --gray-1100: var(--dark);

    --black: #fff;
    --white: #000;
}

@media (max-width: 1800px){

    .square{
        width: 60px !important;
        height: 60px !important;
    }
    #main-card{
        grid-template-columns: 3fr 15fr 11fr 3fr !important;
    }
    #aboutMe h1{
        font-size: 11em !important;
    }
    #saibaMais{
        top: 70vh !important;
    }
}

@media (max-width: 1200px){

    footer{
        top: 110vh !important;
    }

    #habilities{
        top: 80vh !important;
    }

    header ul{
        column-gap: 5% !important;
    }
    /* Transforma o icone em visível */
    li i{
        position: static !important;
        font-size: 2em;
        opacity: 1 !important;
        margin: 0 !important;
    }

    #contact{
        top: 85vh !important;
    }

    #main-card{
        grid-template-columns: 1fr !important;
        grid-template-rows: 50% 1fr 1fr 1fr 1fr !important;
    }

    #card-img{
        grid-column: 1 !important;
        grid-row: 1 !important;
        justify-self: center;
    }

    #languagesPerfil{
        grid-column: 1 !important;
        grid-row: 4 !important;  
        justify-self: center; 
    }

    #main-card h2{
        grid-column: 1 !important;
        grid-row: 2 !important;
        text-align: center;     
        justify-self: center; 
    }

    #main-card p{
        grid-column: 1 !important;
        grid-row: 3 !important;
        justify-self: center;
        margin: 0 !important;
    }

    #btn-div{
        grid-column: 1 !important;
        grid-row: 5 !important;
    }

    #aboutMe .container-fluid .row{
        flex-direction: column;
    }

    .col{
        width: 100vh;
    }

    .col div{
        display: flex;
        column-gap: 40px;
    }

    #habilities h1{
        font-size: 3em !important;
    }

    #container-timeline{
        flex-direction: column;
        display: flex;
        align-items: start !important;
        top: 120vh !important;
    }
    
    .timeline-row{
        width: 70vw !important;
        display: flex;
        column-gap: 30px;
    }

    #saibaMais{
        top: 80vh !important;
    }
}

@media (max-width: 1000px) {

    footer{
        top: 220vh !important;
    }
    
    #contact{
        top: 140vh !important;
        flex-direction: column;
        row-gap: 100px;
    }

    #contact h1+div{
        width: 300px !important;
    }

    #habilities{
        top: 130vh !important;
    } 
    #container-habilities+div{
        flex-direction: column;
    }

    #habilities .line{
        rotate: 180deg;
    }
    
    #softSkills{
        flex-direction: column;
    }
}

@media (max-width: 800px){

    #contact div+div{
        width: 100% !important;
    }
    
    footer{
        top: 330vh !important;
    }
    #contact{
        top: 230vh !important;
    }

    #habilities{
        top: 210vh !important;
    } 

    #saibaMais{
        top: 120vh !important;
    }

    #saibaMais p{
        left: 0;
    }

    #container-timeline{
        top: 170vh !important;
    }

    #main-card{
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr !important;
    }

    #curriculo{
        padding: 0 0 0 3px !important;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50% !important;
    }
}
@media (max-width: 680px){

    footer{
        top: 400vh !important;
    }

    #contact{
        top: 300vh !important;
    }

    #habilities{
        top: 250vh !important;
    } 

    #aboutMe h1{
        font-size: 5em !important;
    }

    #container-habilities .flex:first-child{
        display: none;
    }
}

@media (max-width: 600px){

    footer{
        top: 430vh !important;
    }

    #habilities{
        top: 300vh !important;
    } 

    #habilities ul{
        margin-left: 5%;
    }
}

@media (max-width: 500px){

    footer{
        top: 450vh !important;
    }

    #contact{
        top: 350vh !important;
    }

    #habilities{
        top: 330vh !important;
    } 

    #card-img{
        width: 250px !important;
        height: 250px !important;
    }
}

@media (max-width: 410px){

    footer{
        top: 480vh !important;
    }

    footer h2{
        font-size: 1.3em !important;
    }

    footer p{
        width: 100% !important;
    }
    
    #habilities{
        top: 370vh !important;
    } 

    #saibaMais{
        top: 140vh !important;
    }

    #contact{
        top: 400vh !important;
    }

}


@media (max-width: 380px){

    footer{
        top: 500vh !important;
    }

    header{
        width: 100% !important;
    }

    #saibaMais{
        top: 150vh !important;
    }

    #habilities{
        top: 390vh !important;
    } 

}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    padding: 3vh 0;
    background-color: var(--white);
    height: 100%;
    overflow-x: hidden;
}

main{
    flex-direction: column;
    align-items: center;
}

a, a:hover{
    text-decoration: none;
    color: var(--black);
}

section{
    position: relative;
    height: 80vh;
}

section > *{
    position: absolute;
}

h1{
    z-index: -10;
    top: 0;
    right: 0;
    font-size: 15em;
    font-weight: 400;
    letter-spacing: 55px;
    background: linear-gradient(90deg, var(--gray-500), var(--gray-100));
    background-clip: text;
    color: transparent;
}

h2, p, ::placeholder{
    letter-spacing: 3px;
}

h2{
    justify-self: left;
    font-size: 3.5em;
    line-height: 1.2em;
    font-weight: 400;
    color: var(--black);
}

h3, p{
    color: var(--white);
}

h3{
    /* font-size: 3em; */
    line-height: 1.2em;
    font-weight: 400;  
    letter-spacing: 10px;
}

p{
    font-size: 1em;
    font-weight: 300;
}

span{
    letter-spacing: 5px;
}

ul{
    list-style: none;
}

input{
    border: none;
    border-bottom: 5px solid var(--black);
}

textarea{
    border: 3px solid var(--black);
    min-height: 30vh;
    max-height: 50vh;
    padding: 10px;
}

input, textarea{
    color: var(--black);
    width: 90%;
    background: none;
}

li, button{
    column-gap: 10px;
    font-weight: 400;
}

button:focus, input:focus, textarea:focus{
    outline: none;
}

li{
    position: relative;
    letter-spacing: 5px;
    font-size: 0.8em;
}

header li i{
    position: absolute;
    opacity: 0;
    margin-left: 10%;
    transition: .3s;
}

header li:hover i{
    opacity: 1;
    margin-left: -1.6vw;
}

button{
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}

button i{
    font-size: 20px;
}

header{
    width: fit-content;
    background-color: var(--gray-300);
    border-radius: 100px;
    width: 85vw;
    padding: 2vh 5vw;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3vh;
}

header ul{
    align-items: center;
    column-gap: 45px;
    margin: 0;
}

header div{
    column-gap: 15px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


#curriculo{
    background-color: var(--white);
    color: var(--black);
    transition: .3s;
    padding: 15px 30px;
    border-radius: 30px;
}

.darkMode #curriculo{
    border: none;
}

#toggleMode{
    width: 50px;
    height: 50px;
    padding-left: 3px;
    border: none;
    border-radius: 50%;
    transition: .5s;
    background-color: var(--white);
    color: var(--black)
}

#curriculo:hover, 
#toggleMode:hover{
    background-color: var(--black);
    color: var(--white);
}

header li:hover, button:hover, .card:hover, a:hover, footer i:hover{
    cursor: url("img/Cursors/Pointer.png"), pointer !important;
}

#main-card{
    width: 80vw;
    display: grid;
    grid-template-columns: 3fr 10fr 11fr 3fr;
    grid-template-rows: 2fr 5fr 5fr 4fr 5fr 2fr;
    align-items: center;
    justify-items: center;
}

#main-card h2{
    grid-column: 2;
    grid-row: 2;
    max-width: 85%;
}

#main-card p{
    margin-left: -8%;
    grid-column: 2;
    grid-row: 3;
    width: 90%;
    text-align: center;
    color: var(--black);
}


#main-card button{
    max-height: 13vh;
    text-transform: uppercase;
    height: 100%;
    width: 25vw;
    justify-self: center;
    align-self: center;
    border-radius: 15px;
}

#main-card button i{
    margin-left: 2vw;
    font-size: 2em;
}

#card-img{
    grid-row: 2/5;
    grid-column: 3;
    background-color: var(--black);
    border-radius: 35%;
    width: 400px;
    height: 400px;
}


#languagesPerfil{
    grid-row: 4;
    grid-column: 2;
}

.languages{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.languages span{
    letter-spacing: 0;
    font-weight: bold;
    height: fit-content;
    background-color: var(--gray-300);
    border-radius: 60px;
    margin-bottom: 10px;
    padding: 10px 30px;
    color: var(--black);
}

/* Pode mudar (teste de cor) */

.languagesUsed span{
    background-color: white;
}

#btn-div{
    grid-column: 2/4;
    grid-row: 5;
    column-gap: 100px;
}

#linkedin_btn{
    background-color: #fff;
    border: 0.5px solid var(--black);
}

#github_btn{
    background-color: #000;
    color: #fff;
    border: 1px solid var(--black);
}

#main-card button{
    padding: 20px 10px;
}

#aboutMe{
    height: 270vh;
    top: 10vh;
}

#aboutMe h1{
    font-size: 12em;
}

.movLeftToRight{
    animation: leftToRight;
    animation-timeline: view();
}

@keyframes leftToRight{
    from{
        transform: translateX(-30%);
    }
    to{
        transform: translateX(0);
    }
}

.movrightToLeft {
    /* font-size: 10em;
    position: relative; */
    animation: rightToLeft;
    animation-timeline: view();
    white-space: nowrap; 
}

#habilities {
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    row-gap: 20vh;
    top: 100px;
    color: var(--black);

}

#habilities>div, #contact>div{
    position: static;
}

ol+div+ul li{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 5% 0;
}

#habilities li::marker{
    font-weight: bold;
}

#habilities div+div{
    line-height: 2em;
    font-size: 2em;
}

@keyframes rightToLeft {
    from {
        transform: translateX(30%)
    }
    to {
        transform: translateX(0)
    }
}

#carrousel {
    position: absolute;
    right: 0;
    top: 25vh;
    width: 95%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    margin-right: 100px;
    background-color: var(--gray-1100);
    perspective: 1000px;
}

.card_back i{
    font-size: 8em;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card_front,
.card_back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    border-radius: 30px; 
}

.card_back {
    transform: rotateY(180deg); 
    padding: 30px;
}

.card.flipped .card_inner {
    transform: rotateY(180deg); 
}

.card_front img {
    width: 90% !important;
    height: 90%;
    border-radius: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    color: var(--white);
}

.row {
    padding: 2%;
    justify-content: space-between;
}

.card-body a {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 2.5em; */
    font-size: 0.3em;
    width: 60px;
    height: 60px;
}

.invisible{
    display: none;
}

#aboutMe p{
    color: var(--black); 
    font-weight: 350;
    font-size: 1.6em;
    text-align: justify;
    width: 70%; 
    top: 20vh;
    right: 0;
}

#saibaMais{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    top: 55vh; 
    column-gap: 20%;
    font-size: 1.8em;
    color: var(--gray-600);
}

#saibaMais button{
    letter-spacing: 5px;
    font-weight: 250 !important;
    font-size: 0.8em !important;
    padding: 2vh 2vw;
}

.row:first-child{
    color: var(--black);
    font-weight: 500;
}

.row span{
    font-size: 6em;
}

#cursos:hover{
    cursor: url("img/Cursors/Open\ Book.png"), auto;
    transition: .5s;
}

#cursorPy:hover{
    cursor: url("img/Cursors/Snake.png"), auto;
}

#cursorTrophy:hover{
    cursor: url("img/Cursors/Trophy.png"), auto;
}

#cursorCotemig:hover{
    cursor: url("img/Cursors/Desktop\ Computer.png"), auto;
}

.row+.row{
    padding-top: 0;
}

.square{
    width: 60px !important;
    height: 60px !important;
    background-color: var(--black);
    color: var(--white);
    font-size: 2em;
    position: relative;
    margin-bottom: 30px;
}

.line{
    position: absolute;
    right: 0;
    width: 100vw;
    height: 3px;
    z-index: -99;
    background-color: var(--black);
}

.square, .line{
    align-self: center;
}

#habilities .line{
    position: static
}

.rotate{
    rotate: 90deg;
}

#container-timeline{
    top: 100vh;
    padding-left: 50px;
    position: relative;
    align-items: start !important;
}

#container-timeline span{
    font-size: 7em;
    color: var(--black);
}

.timeline-row{
    width: calc(100vw/3);
}

#container-habilities{
    font-size: 2em;
    text-align: right;
    column-gap: 35px;
    color: var(--black);
}

#container-habilities > .flex{
    flex-direction: column;
    column-gap: 10px;
    align-items: flex-end;
    row-gap: 80px;
    height: fit-content;
    font-weight: bold;
    line-height: 0.5em;
    letter-spacing: 2px;
}

.progress{
    width: 50vw;
}

.progress, .progress-bar{
    border-radius: 50px;
}

#contact{
    justify-content: space-evenly;
    top: 30vh;
}

#contact > div:first-of-type{
    padding: 17vh 5vh;
    border-radius: 30px;
    background: rgba(255,255,255,0.4);
    border: 3px solid rgba(46, 35, 35, 0.2);
    backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
}

#contact > div+div{
    flex-direction: column;
    row-gap: 60px;
}

#contact > div{
    width: 30vw;
}

#contact > div p{
    color: var(--black);
}

#glass-btn{
    background:transparent;
    padding: 10px 60px;
    border: 3px solid var(--black);
    position: relative;
    transform: .4s;
}

#glass-btn::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .4s;
}

#glass-btn:hover{
    color: var(--white);
}

#glass-btn:hover::after{
    transform: scaleX(1);
}

footer{
    position: relative;
    bottom: 0;
    background-color:var(--black); 
    color: var(--gray-100);
    width: 98% !important;
    padding: 20px;
    top: 50vh;
}

footer .row+.row .col{
    text-align: center;
    align-self: center;
}

nav{
    column-gap: 30px;
    font-size: 1.5em;
}

footer .row+.row{
    padding-bottom: 0;
    height: 10vh;
}

footer p{
    color: var(--white);
    width: 50%;
}

footer h2{
    width: 400px;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--gray-100);
}

footer a{
    color: var(--gray-100);
    font-weight: 300;
    letter-spacing: 4px;
}

footer a:hover{
    color: var(--gray-100);
}

footer span{
    font-weight: 500;
    font-size: 1em !important;
}

html {
    scroll-behavior: smooth;
}

::placeholder{
    text-transform: uppercase;
    color: var(--black);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--black);
    border-radius: 10px;
}

::selection{
    color: white;
    background-color: var(--gray-600);
}  
